@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat;
  font-size: 2rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  background: url(../img/background.webp) 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 46.25rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,45rem) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__body {
  background-color: #fff;
  z-index: 4
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup__text {
  font-size: .875rem
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-bottom: 1px solid #616161;
  padding: .9375rem .9375rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-bottom: 1px solid #616161
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.order-button {
  display: inline-block;
  border-radius: 90px;
  background: #fff;
  color: #000;
  font-size: 1.25rem;
  width: 350px;
  height: 60px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  transition: all .4s ease;
  padding-top: 1.125rem
}
.order-button:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg)
}
.title {
  color: #fff;
  font-weight: 600
}
span {
  font-weight: 800
}
.purple {
  color: #460a4a;
  font-style: normal
}
.block-title--italic {
  font-style: italic
}
.block-description--italic {
  font-style: italic
}
.header {
  width: 100%;
  height: 100px;
  background: #fff
}
.header__order-button {
  display: inline-block;
  border-radius: 90px;
  background: #000;
  color: #fff;
  font-size: 1.25rem;
  width: 280px;
  height: 60px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  padding-top: .9375rem;
  transition: all .4s ease
}
.header__order-button:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg)
}
.menu {
  position: relative;
  display: flex;
  justify-content: right
}
.menu__icon {
  margin-top: 2.5rem
}
.menu__body {
  display: flex;
  justify-content: center
}
.menu__list {
  text-align: center;
  margin-top: 10rem
}
.menu__item {
  padding-bottom: 3.125rem
}
.menu__link {
  transition: all .3s ease-in-out
}
.menu__link:hover {
  font-size: 2.125rem
}
.footer {
  margin-top: 6.25rem;
  background-color: #000
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-top: 3.125rem;
  border-bottom: 1px solid #616161;
  padding-bottom: 3.125rem
}
.footer__follow {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left
}
.footer__inst {
  padding-top: .375rem;
  width: 40px;
  height: 46px;
  transition: all .5s ease
}
.footer__inst:hover {
  width: 45px;
  height: 51px
}
.footer__end {
  display: flex;
  padding-top: 1.25rem;
  flex-direction: column;
  gap: 1.25rem
}
.footer__made {
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center
}
.footer__rights {
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center
}
.footer__rights-conditions {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0;
  padding-bottom: 1.875rem
}
.spollers__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left
}
.spollers__body {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left
}
.main__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center
}
.main__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 3.125rem
}
.main__background {
  display: flex;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid rgba(232,232,232,.25);
  border-radius: 25px;
  max-width: 450px;
  height: 125px;
  background: linear-gradient(146.31deg,rgba(217,217,217,.1) 5.068%,rgba(235,235,235,.1) 7.032%)
}
.main__block-description {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  font-style: italic;
  letter-spacing: 0;
  text-align: center
}
.main__block-title {
  font-style: italic
}
.main__description {
  box-sizing: border-box;
  border: 3px solid rgba(232,232,232,.25);
  border-radius: 90px;
  background: linear-gradient(146.31deg,rgba(217,217,217,.1) 2.468%,rgba(235,235,235,.1) 4.361%);
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0
}
.main__under-title {
  color: #fff;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0
}
.main__buy {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1.875rem;
  text-align: center
}
.main__photos-group {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 3.125rem
}
.main__photos-man {
  width: 350px;
  height: 373px;
  z-index: 3
}
.main__photos-studio {
  position: absolute;
  width: 350px;
  height: 373px;
  left: 40%;
  top: 2%
}
.main__order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.main__order-button-link {
  padding-top: .6875rem
}
.guide {
  margin-top: 3.125rem
}
.guide__background {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 20px rgba(0,0,0,.5);
  background: #fff;
  margin-left: 1.5625rem;
  margin-right: 1.5625rem
}
.guide__title {
  padding-top: 1.875rem;
  color: #460a4a;
  font-weight: 700;
  text-align: center;
  padding-left: .3125rem;
  padding-right: .3125rem
}
.guide__lower {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.5625rem
}
.guide__description {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  padding-left: 2.5rem;
  font-style: italic
}
.guide__icon-image {
  margin-left: 1.25rem
}
.timer__container {
  display: flex;
  justify-content: center
}
.timer__body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 90%;
  box-sizing: border-box;
  border: 2px dashed #9c0494;
  border-radius: 25px;
  box-shadow: 4px 4px 5px 10px rgba(0,0,0,.5);
  background: #000;
  color: #fff
}
.timer__counter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 5.9375rem
}
.timer__names {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 3.125rem;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0;
  color: gray;
  padding-top: 1.5625rem;
  padding-left: 1.5625rem
}
.timer__column {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  color: #fff
}
.timer__minute-text {
  color: gray;
  font-weight: 400
}
.timer__seconds-text {
  color: gray;
  font-weight: 400
}
.if__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3.125rem
}
.if__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 3.125rem
}
.if__body {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  text-align: center
}
.if__text {
  color: #fff;
  font-family: Montserrat;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center
}
.me__container {
  display: flex;
  flex-direction: column;
  gap: 4.0625rem;
  margin-top: 3.125rem
}
.me__title {
  text-align: center
}
.me__info {
  display: flex;
  padding-left: .3125rem;
  padding-right: .3125rem;
  gap: .9375rem
}
.me__img-photo {
  width: 260px;
  height: 409px
}
.me__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem
}
.me__name {
  color: #fff;
  Font-weight: 700
}
.me__description {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  color: #fff;
  font-family: Montserrat;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  text-align: left
}
.intensive {
  margin-top: 3.125rem
}
.intensive__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}
.intensive__title {
  font-style: italic;
  text-align: center;
  line-height: 78px;
  margin-bottom: 4.6875rem
}
.intensive__sub-title {
  color: #fff;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 4.375rem
}
.intensive__image {
  max-width: 18.75rem;
  max-height: 18.75rem
}
.intensive__background {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid rgba(232,232,232,.25);
  border-radius: 25px;
  max-width: 623px;
  height: 185px;
  margin-top: 1.25rem;
  color: #fff;
  background: linear-gradient(146.31deg,rgba(217,217,217,.1) 5.068%,rgba(235,235,235,.1) 7.032%);
  margin-bottom: 1.25rem
}
.intensive__block-title {
  color: #fff;
  font-family: Montserrat;
  line-height: 36px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center
}
.intensive__block-description {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px
}
.results {
  margin-top: 3.125rem
}
.results__title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  margin-bottom: 2.5rem
}
.results__points {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: #fff;
  font-family: Montserrat;
  font-style: italic;
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left
}
.message {
  margin-top: 3.125rem;
  position: relative;
  margin-bottom: 62.5rem
}
.message__title {
  text-align: center
}
.message__body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 50px
}
.message__item-1 {
  position: absolute;
  left: 5%
}
.message__item-2 {
  position: absolute;
  left: 10%
}
.message__item-3 {
  position: absolute;
  left: 48%
}
.message__item-4 {
  position: absolute;
  left: 45%
}
.moduls__title {
  text-align: center;
  font-size: 3.125rem;
  line-height: 50px;
  margin-bottom: 1.25rem
}
.moduls__container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem
}
.moduls__body {
  display: flex;
  flex-direction: column;
  align-items: center
}
.moduls__body-up {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  border-radius: 15px;
  background: #460a4a
}
.moduls__name {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 1.5625rem
}
.moduls__thema {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 1.5625rem
}
.moduls__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px
}
.moduls__body-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 85%;
  height: 330px;
  border-radius: 15px;
  background: #d9d9d9
}
.moduls__points {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  padding-left: 1.25rem;
  padding-right: 1.75rem
}
.moduls__points-1 {
  color: #000;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 1.25rem;
  padding-right: 1.5625rem
}
.bonus {
  margin-top: 3.125rem
}
.bonus__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center
}
.bonus__background {
  position: relative;
  max-width: 707px;
  height: 150px;
  border-radius: 30px;
  background: #460a4a
}
.bonus__text {
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  padding-top: .875rem;
  padding-left: 1.5625rem
}
.bonus__img {
  position: absolute;
  top: 50px;
  right: 0
}
.bonus__button {
  margin-top: 3.125rem
}
@media (min-width:46.25em) {
  .title {
    line-height: 5.5rem
  }
  .title {
    font-size: 4.5rem
  }
  .header {
    height: 6.25rem
  }
  .menu__icon {
    margin-top: 2.5rem
  }
  .main__background {
    height: 7.8125rem
  }
  .main__background {
    width: 28.125rem
  }
  .main__block-description {
    font-size: 1.25rem
  }
  .main__block-description {
    line-height: 2.4375rem
  }
  .main__description {
    line-height: 2.5rem
  }
  .main__description {
    width: 38.9375rem
  }
  .main__description {
    height: 9rem
  }
  .main__description {
    font-size: 2rem
  }
  .main__under-title {
    line-height: 2.25rem
  }
  .main__under-title {
    font-size: 2rem
  }
  .main__buy {
    margin-top: 1.25rem
  }
  .main__photos-group {
    margin-top: 1.25rem
  }
  .main__photos-group {
    margin-bottom: 3.125rem
  }
  .main__photos-group {
    margin-left: 3.125rem
  }
  .main__photos-man {
    height: 21.875rem
  }
  .main__photos-man {
    width: 21.875rem
  }
  .main__photos-studio {
    height: 21.875rem
  }
  .main__photos-studio {
    width: 21.875rem
  }
  .main__order-button-link {
    padding-top: .9375rem
  }
  .main__order-button-link {
    width: 21.875rem
  }
  .main__order-button-link {
    font-size: 1.25rem
  }
  .main__order-button-link {
    height: 3.75rem
  }
  .guide__background {
    gap: .625rem
  }
  .guide__background {
    height: 43.75rem
  }
  .guide__title {
    line-height: 4.125rem
  }
  .guide__title {
    font-size: 3rem
  }
  .guide__description {
    padding-left: 3.125rem
  }
  .guide__description {
    font-size: 2rem
  }
  .guide__icon-image {
    width: 18.75rem
  }
  .guide__icon-image {
    max-height: 31.25rem
  }
  .timer__body {
    height: 15.125rem
  }
  .timer__counter {
    gap: 3.4375rem
  }
  .timer__names {
    padding-top: 1.5625rem
  }
  .timer__names {
    font-size: 2rem
  }
  .timer__names {
    gap: 3.125rem
  }
  .timer__column {
    font-size: 2rem
  }
  .if__title {
    font-size: 4rem
  }
  .if__image {
    width: 18.75rem
  }
  .if__text {
    font-size: 2rem
  }
  .if__text {
    line-height: 2.4375rem
  }
  .me__img-photo {
    width: 16.25rem
  }
  .me__img-photo {
    height: 25.5625rem
  }
  .me__column {
    gap: 1.25rem
  }
  .me__name {
    font-size: 2rem
  }
  .me__description {
    line-height: 1.5rem
  }
  .me__description {
    gap: 3.125rem
  }
  .me__description {
    font-size: 1.5rem
  }
  .intensive__title {
    margin-bottom: 4.6875rem
  }
  .intensive__title {
    font-size: 4rem
  }
  .intensive__title {
    line-height: 4.875rem
  }
  .intensive__sub-title {
    font-size: 1.75rem
  }
  .intensive__image {
    max-width: 18.75rem
  }
  .intensive__image {
    max-height: 18.75rem
  }
  .intensive__background {
    height: 11.5625rem
  }
  .intensive__block-title {
    font-size: 2rem
  }
  .intensive__block-description {
    font-size: 1.5rem
  }
  .results__points {
    font-size: 1.625rem
  }
  .results__points {
    gap: 2.5rem
  }
  .message__item-1 {
    top: 15rem
  }
  .message__item-1 {
    height: 21.3125rem
  }
  .message__item-1 {
    width: 27.9375rem
  }
  .message__item-2 {
    top: 45rem
  }
  .message__item-2 {
    height: 14.1875rem
  }
  .message__item-2 {
    width: 26.6875rem
  }
  .message__item-3 {
    top: 32.5rem
  }
  .message__item-3 {
    height: 14.9375rem
  }
  .message__item-3 {
    width: 25.5625rem
  }
  .message__item-4 {
    top: 56.25rem
  }
  .message__item-4 {
    height: 14.5625rem
  }
  .message__item-4 {
    width: 26.1875rem
  }
  .moduls {
    margin-top: -6.25rem
  }
  .moduls__body-up {
    padding-top: 3.125rem
  }
  .moduls__body-up {
    gap: 3.75rem
  }
  .moduls__body-up {
    height: 15.625rem
  }
  .moduls__name {
    font-size: 2.25rem
  }
  .moduls__thema {
    font-size: 2rem
  }
  .moduls__icon {
    width: 9.375rem
  }
  .moduls__icon {
    height: 9.375rem
  }
  .moduls__body-down {
    height: 28.125rem
  }
  .moduls__body-down {
    gap: 1.875rem
  }
  .moduls__points {
    font-size: 1.75rem
  }
  .moduls__points-1 {
    font-size: 1.75rem
  }
  .bonus__text {
    font-size: 1.875rem
  }
  .bonus__img {
    width: 12.5rem
  }
  .bonus__img {
    height: 12.5rem
  }
  .bonus__img {
    top: 3.125rem
  }
}
@media (max-width:20em) {
  .title {
    line-height: 1.5rem
  }
  .title {
    font-size: 1.625rem
  }
  .header {
    height: 5rem
  }
  .menu__icon {
    margin-top: 2rem
  }
  .main__background {
    height: 3.125rem
  }
  .main__background {
    width: 17.5rem
  }
  .main__block-description {
    font-size: .75rem
  }
  .main__block-description {
    line-height: 1.375rem
  }
  .main__description {
    line-height: 1.875rem
  }
  .main__description {
    width: 23.125rem
  }
  .main__description {
    height: 5rem
  }
  .main__description {
    font-size: .75rem
  }
  .main__under-title {
    line-height: 1.75rem
  }
  .main__under-title {
    font-size: .75rem
  }
  .main__buy {
    margin-top: -6.25rem
  }
  .main__photos-group {
    margin-top: 6.25rem
  }
  .main__photos-group {
    margin-bottom: 3.125rem
  }
  .main__photos-group {
    margin-left: 1.5625rem
  }
  .main__photos-man {
    height: 9.375rem
  }
  .main__photos-man {
    width: 9.375rem
  }
  .main__photos-studio {
    height: 9.375rem
  }
  .main__photos-studio {
    width: 9.375rem
  }
  .main__order-button-link {
    padding-top: .6875rem
  }
  .main__order-button-link {
    width: 15.625rem
  }
  .main__order-button-link {
    font-size: .875rem
  }
  .main__order-button-link {
    height: 2.5rem
  }
  .guide__background {
    gap: 1.875rem
  }
  .guide__background {
    height: 15.625rem
  }
  .guide__title {
    line-height: 1.25rem
  }
  .guide__title {
    font-size: 1.125rem
  }
  .guide__description {
    padding-left: 1.25rem
  }
  .guide__description {
    font-size: 1rem
  }
  .guide__icon-image {
    width: 4.375rem
  }
  .guide__icon-image {
    max-height: 10.625rem
  }
  .timer__body {
    height: 9.375rem
  }
  .timer__counter {
    gap: .625rem
  }
  .timer__names {
    padding-top: .0000000625rem
  }
  .timer__names {
    font-size: 1rem
  }
  .timer__names {
    gap: 1.5625rem
  }
  .timer__column {
    font-size: 1.125rem
  }
  .if__title {
    font-size: 1.75rem
  }
  .if__image {
    width: 12.5rem
  }
  .if__text {
    font-size: .875rem
  }
  .if__text {
    line-height: 1.5rem
  }
  .me__img-photo {
    width: 8.125rem
  }
  .me__img-photo {
    height: 12.75rem
  }
  .me__column {
    gap: 1.5625rem
  }
  .me__name {
    font-size: .875rem
  }
  .me__description {
    line-height: .75rem
  }
  .me__description {
    gap: .9375rem
  }
  .me__description {
    font-size: .625rem
  }
  .intensive__title {
    margin-bottom: 1.5625rem
  }
  .intensive__title {
    font-size: 1.5rem
  }
  .intensive__title {
    line-height: 3.125rem
  }
  .intensive__sub-title {
    font-size: 1rem
  }
  .intensive__image {
    max-width: 9.375rem
  }
  .intensive__image {
    max-height: 9.375rem
  }
  .intensive__background {
    height: 10rem
  }
  .intensive__block-title {
    font-size: 1.125rem
  }
  .intensive__block-description {
    font-size: .75rem
  }
  .results__points {
    font-size: 1rem
  }
  .results__points {
    gap: 2.1875rem
  }
  .message__item-1 {
    top: 5rem
  }
  .message__item-1 {
    height: 10.65625rem
  }
  .message__item-1 {
    width: 13.96875rem
  }
  .message__item-2 {
    top: 18.75rem
  }
  .message__item-2 {
    height: 7.125rem
  }
  .message__item-2 {
    width: 13.1875rem
  }
  .message__item-3 {
    top: 13.75rem
  }
  .message__item-3 {
    height: 7.5rem
  }
  .message__item-3 {
    width: 12.8125rem
  }
  .message__item-4 {
    top: 23.4375rem
  }
  .message__item-4 {
    height: 7.25rem
  }
  .message__item-4 {
    width: 13.125rem
  }
  .moduls {
    margin-top: -34.375rem
  }
  .moduls__body-up {
    padding-top: .0625rem
  }
  .moduls__body-up {
    gap: .0625rem
  }
  .moduls__body-up {
    height: 6.25rem
  }
  .moduls__name {
    font-size: 1.125rem
  }
  .moduls__thema {
    font-size: .75rem
  }
  .moduls__icon {
    width: 2.8125rem
  }
  .moduls__icon {
    height: 2.8125rem
  }
  .moduls__body-down {
    height: 21.875rem
  }
  .moduls__body-down {
    gap: 1.5625rem
  }
  .moduls__points {
    font-size: .875rem
  }
  .moduls__points-1 {
    font-size: .8125rem
  }
  .bonus__text {
    font-size: .875rem
  }
  .bonus__img {
    width: 6.25rem
  }
  .bonus__img {
    height: 6.25rem
  }
  .bonus__img {
    top: 6.25rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: right .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em)and (max-width:46.25em) {
  .title {
    line-height: clamp(1.5rem ,-1.5476190476rem + 15.2380952381vw ,5.5rem)
  }
  .title {
    font-size: clamp(1.625rem ,-.5654761905rem + 10.9523809524vw ,4.5rem)
  }
  .header {
    height: clamp(5rem ,4.0476190476rem + 4.7619047619vw ,6.25rem)
  }
  .menu__icon {
    margin-top: clamp(2rem ,1.619047619rem + 1.9047619048vw ,2.5rem)
  }
  .main__background {
    height: clamp(3.125rem ,-.4464285714rem + 17.8571428571vw ,7.8125rem)
  }
  .main__background {
    width: clamp(17.5rem ,9.4047619048rem + 40.4761904762vw ,28.125rem)
  }
  .main__block-description {
    font-size: clamp(.75rem ,.369047619rem + 1.9047619048vw ,1.25rem)
  }
  .main__block-description {
    line-height: clamp(1.375rem ,.5654761905rem + 4.0476190476vw ,2.4375rem)
  }
  .main__description {
    line-height: clamp(1.875rem ,1.3988095238rem + 2.380952381vw ,2.5rem)
  }
  .main__description {
    width: clamp(23.125rem ,11.0773809524rem + 60.2380952381vw ,38.9375rem)
  }
  .main__description {
    height: clamp(5rem ,1.9523809524rem + 15.2380952381vw ,9rem)
  }
  .main__description {
    font-size: clamp(.75rem ,-.2023809524rem + 4.7619047619vw ,2rem)
  }
  .main__under-title {
    line-height: clamp(1.75rem ,1.369047619rem + 1.9047619048vw ,2.25rem)
  }
  .main__under-title {
    font-size: clamp(.75rem ,-.2023809524rem + 4.7619047619vw ,2rem)
  }
  .main__buy {
    margin-top: clamp(-6.25rem ,-11.9642857143rem + 28.5714285714vw ,1.25rem)
  }
  .main__photos-group {
    margin-top: clamp(1.25rem ,10.0595238095rem + -19.0476190476vw ,6.25rem)
  }
  .main__photos-group {
    margin-bottom: clamp(3.125rem ,3.125rem + 0 ,3.125rem)
  }
  .main__photos-group {
    margin-left: clamp(1.5625rem ,.3720238095rem + 5.9523809524vw ,3.125rem)
  }
  .main__photos-man {
    height: clamp(9.375rem ,-.1488095238rem + 47.619047619vw ,21.875rem)
  }
  .main__photos-man {
    width: clamp(9.375rem ,-.1488095238rem + 47.619047619vw ,21.875rem)
  }
  .main__photos-studio {
    height: clamp(9.375rem ,-.1488095238rem + 47.619047619vw ,21.875rem)
  }
  .main__photos-studio {
    width: clamp(9.375rem ,-.1488095238rem + 47.619047619vw ,21.875rem)
  }
  .main__order-button-link {
    padding-top: clamp(.6875rem ,.4970238095rem + .9523809524vw ,.9375rem)
  }
  .main__order-button-link {
    width: clamp(15.625rem ,10.8630952381rem + 23.8095238095vw ,21.875rem)
  }
  .main__order-button-link {
    font-size: clamp(.875rem ,.5892857143rem + 1.4285714286vw ,1.25rem)
  }
  .main__order-button-link {
    height: clamp(2.5rem ,1.5476190476rem + 4.7619047619vw ,3.75rem)
  }
  .guide__background {
    gap: clamp(.625rem ,2.8273809524rem + -4.7619047619vw ,1.875rem)
  }
  .guide__background {
    height: clamp(15.625rem ,-5.8035714286rem + 107.1428571429vw ,43.75rem)
  }
  .guide__title {
    line-height: clamp(1.25rem ,-.9404761905rem + 10.9523809524vw ,4.125rem)
  }
  .guide__title {
    font-size: clamp(1.125rem ,-.3035714286rem + 7.1428571429vw ,3rem)
  }
  .guide__description {
    padding-left: clamp(1.25rem ,-.1785714286rem + 7.1428571429vw ,3.125rem)
  }
  .guide__description {
    font-size: clamp(1rem ,.2380952381rem + 3.8095238095vw ,2rem)
  }
  .guide__icon-image {
    width: clamp(4.375rem ,-6.5773809524rem + 54.7619047619vw ,18.75rem)
  }
  .guide__icon-image {
    max-height: clamp(10.625rem ,-5.0892857143rem + 78.5714285714vw ,31.25rem)
  }
  .timer__body {
    height: clamp(9.375rem ,4.994047619rem + 21.9047619048vw ,15.125rem)
  }
  .timer__counter {
    gap: clamp(.625rem ,-1.5178571429rem + 10.7142857143vw ,3.4375rem)
  }
  .timer__names {
    padding-top: clamp(.0000000625rem ,-1.1904760804rem + 5.9523807143vw ,1.5625rem)
  }
  .timer__names {
    font-size: clamp(1rem ,.2380952381rem + 3.8095238095vw ,2rem)
  }
  .timer__names {
    gap: clamp(1.5625rem ,.3720238095rem + 5.9523809524vw ,3.125rem)
  }
  .timer__column {
    font-size: clamp(1.125rem ,.4583333333rem + 3.3333333333vw ,2rem)
  }
  .if__title {
    font-size: clamp(1.75rem ,.0357142857rem + 8.5714285714vw ,4rem)
  }
  .if__image {
    width: clamp(12.5rem ,7.7380952381rem + 23.8095238095vw ,18.75rem)
  }
  .if__text {
    font-size: clamp(.875rem ,.0178571429rem + 4.2857142857vw ,2rem)
  }
  .if__text {
    line-height: clamp(1.5rem ,.7857142857rem + 3.5714285714vw ,2.4375rem)
  }
  .me__img-photo {
    width: clamp(8.125rem ,1.9345238095rem + 30.9523809524vw ,16.25rem)
  }
  .me__img-photo {
    height: clamp(12.75rem ,2.9880952381rem + 48.8095238095vw ,25.5625rem)
  }
  .me__column {
    gap: clamp(1.25rem ,1.8005952381rem + -1.1904761905vw ,1.5625rem)
  }
  .me__name {
    font-size: clamp(.875rem ,.0178571429rem + 4.2857142857vw ,2rem)
  }
  .me__description {
    line-height: clamp(.75rem ,.1785714286rem + 2.8571428571vw ,1.5rem)
  }
  .me__description {
    gap: clamp(.9375rem ,-.7291666667rem + 8.3333333333vw ,3.125rem)
  }
  .me__description {
    font-size: clamp(.625rem ,-.0416666667rem + 3.3333333333vw ,1.5rem)
  }
  .intensive__title {
    margin-bottom: clamp(1.5625rem ,-.818452381rem + 11.9047619048vw ,4.6875rem)
  }
  .intensive__title {
    font-size: clamp(1.5rem ,-.4047619048rem + 9.5238095238vw ,4rem)
  }
  .intensive__title {
    line-height: clamp(3.125rem ,1.7916666667rem + 6.6666666667vw ,4.875rem)
  }
  .intensive__sub-title {
    font-size: clamp(1rem ,.4285714286rem + 2.8571428571vw ,1.75rem)
  }
  .intensive__image {
    max-width: clamp(9.375rem ,2.2321428571rem + 35.7142857143vw ,18.75rem)
  }
  .intensive__image {
    max-height: clamp(9.375rem ,2.2321428571rem + 35.7142857143vw ,18.75rem)
  }
  .intensive__background {
    height: clamp(10rem ,8.8095238095rem + 5.9523809524vw ,11.5625rem)
  }
  .intensive__block-title {
    font-size: clamp(1.125rem ,.4583333333rem + 3.3333333333vw ,2rem)
  }
  .intensive__block-description {
    font-size: clamp(.75rem ,.1785714286rem + 2.8571428571vw ,1.5rem)
  }
  .results__points {
    font-size: clamp(1rem ,.5238095238rem + 2.380952381vw ,1.625rem)
  }
  .results__points {
    gap: clamp(2.1875rem ,1.9494047619rem + 1.1904761905vw ,2.5rem)
  }
  .message__item-1 {
    top: clamp(5rem ,-2.619047619rem + 38.0952380952vw ,15rem)
  }
  .message__item-1 {
    height: clamp(10.65625rem ,2.537202381rem + 40.5952380952vw ,21.3125rem)
  }
  .message__item-1 {
    width: clamp(13.96875rem ,3.3258928571rem + 53.2142857143vw ,27.9375rem)
  }
  .message__item-2 {
    top: clamp(18.75rem ,-1.25rem + 100vw ,45rem)
  }
  .message__item-2 {
    height: clamp(7.125rem ,1.744047619rem + 26.9047619048vw ,14.1875rem)
  }
  .message__item-2 {
    width: clamp(13.1875rem ,2.9017857143rem + 51.4285714286vw ,26.6875rem)
  }
  .message__item-3 {
    top: clamp(13.75rem ,-.5357142857rem + 71.4285714286vw ,32.5rem)
  }
  .message__item-3 {
    height: clamp(7.5rem ,1.8333333333rem + 28.3333333333vw ,14.9375rem)
  }
  .message__item-3 {
    width: clamp(12.8125rem ,3.0982142857rem + 48.5714285714vw ,25.5625rem)
  }
  .message__item-4 {
    top: clamp(23.4375rem ,-1.5625rem + 125vw ,56.25rem)
  }
  .message__item-4 {
    height: clamp(7.25rem ,1.6785714286rem + 27.8571428571vw ,14.5625rem)
  }
  .message__item-4 {
    width: clamp(13.125rem ,3.1726190476rem + 49.7619047619vw ,26.1875rem)
  }
  .moduls {
    margin-top: clamp(-34.375rem ,-55.8035714286rem + 107.1428571429vw ,-6.25rem)
  }
  .moduls__body-up {
    padding-top: clamp(.0625rem ,-2.2708333333rem + 11.6666666667vw ,3.125rem)
  }
  .moduls__body-up {
    gap: clamp(.0625rem ,-2.7470238095rem + 14.0476190476vw ,3.75rem)
  }
  .moduls__body-up {
    height: clamp(6.25rem ,-.8928571429rem + 35.7142857143vw ,15.625rem)
  }
  .moduls__name {
    font-size: clamp(1.125rem ,.2678571429rem + 4.2857142857vw ,2.25rem)
  }
  .moduls__thema {
    font-size: clamp(.75rem ,-.2023809524rem + 4.7619047619vw ,2rem)
  }
  .moduls__icon {
    width: clamp(2.8125rem ,-2.1875rem + 25vw ,9.375rem)
  }
  .moduls__icon {
    height: clamp(2.8125rem ,-2.1875rem + 25vw ,9.375rem)
  }
  .moduls__body-down {
    height: clamp(21.875rem ,17.1130952381rem + 23.8095238095vw ,28.125rem)
  }
  .moduls__body-down {
    gap: clamp(1.5625rem ,1.3244047619rem + 1.1904761905vw ,1.875rem)
  }
  .moduls__points {
    font-size: clamp(.875rem ,.2083333333rem + 3.3333333333vw ,1.75rem)
  }
  .moduls__points-1 {
    font-size: clamp(.8125rem ,.0982142857rem + 3.5714285714vw ,1.75rem)
  }
  .bonus__text {
    font-size: clamp(.875rem ,.1130952381rem + 3.8095238095vw ,1.875rem)
  }
  .bonus__img {
    width: clamp(6.25rem ,1.4880952381rem + 23.8095238095vw ,12.5rem)
  }
  .bonus__img {
    height: clamp(6.25rem ,1.4880952381rem + 23.8095238095vw ,12.5rem)
  }
  .bonus__img {
    top: clamp(3.125rem ,8.630952381rem + -11.9047619048vw ,6.25rem)
  }
}